.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}

.lighttheme {
  font-weight: 700;
  /* position: absolute; */
  z-index: 1000;
  font-size: 1.4rem;
  color: var(--color-dark--1);
  background-color: #e6e0d7;
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
  border-left: "20px";
  margin-left: auto;
  flex-grow: 1;
  height: 100%;
}

.darktheme {
  font-weight: 700;
  /* position: absolute; */
  z-index: 1000;
  font-size: 1.4rem;
  background-color: #403c3c;
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
  border-left: "20px";
  margin-left: auto;
  flex-grow: 1;
  max-height: 100%;
}

.cancel {
  font-weight: 700;
  background-color: rgb(236, 93, 93);
  opacity: 0.9;
  color: var(--color-dark--1);
}

.memories {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
  background-color: var(--color-brand--2);
  color: black;
}
