.logo {
  height: 5.2rem;
}
.logoName {
  /* scale: ; */
  /* height: 5.2rem; */
  width: 90px;
  /* height: 150px; */
  /* object-fit: cover; */
  /* object-position: 25% 25%; */
  transform: scale(1.6) translate(20%, 30%);
}
